NEXT_PUBLIC_SITE_URL=https://wardabeaute.com
NEXT_PUBLIC_API_URL=https://api.wardabeaute.com
NEXT_PUBLIC_FB_PIXEL_ID=
NEXT_PUBLIC_TIKTOK_PIXEL_ID=
NEXT_PUBLIC_WHATSAPP_NUMBER=212600000000
NEXT_PUBLIC_PIXELS_ENABLED=true
